.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 12px;
}

.header__logo {
	font-size: 24px;
	font-weight: 700;
}

.header_link img {
	width: 24px;
	aspect-ratio: 1;
	transition: all 0.3s ease-in-out;
}

.header_link:hover img {
	transform: scale(1.2);
}